<app-header></app-header>
<section class="mt-3 table-responsive">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h5>Sale Details :</h5>
        <hr>
        <div class="example-header">
          <mat-form-field class="w-25">
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
          </mat-form-field>
          <button class="btn btn-success float-end mt-1" (click)="openModal('Create', '')"><i
              class="fa fa-money me-2"></i>Add New Sale</button>
        </div>

        <div class="example-container mat-elevation-z8">

          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="goodName">e
              <mat-header-cell *matHeaderCellDef mat-sort-header> Good Name </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.goodName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="goodRetailerName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Retailer Name </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.goodRetailerName }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.quantity}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rate">
              <mat-header-cell *matHeaderCellDef> Rate </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.rate}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="labourRate">
              <mat-header-cell *matHeaderCellDef> Labour Rate </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.labourRate}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="totalLabourCosting">
              <mat-header-cell *matHeaderCellDef> Total Labour Costing </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.totalLabourCosting}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="totalAmount">
              <mat-header-cell *matHeaderCellDef> Total Amount </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.totalAmount}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="vehicleNumber">
              <mat-header-cell *matHeaderCellDef> Vehicle Number </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.vehicleNumber}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="driverName">
              <mat-header-cell *matHeaderCellDef> Driver Name </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.driverName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="transportCharges">
              <mat-header-cell *matHeaderCellDef> Transport Charges </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.transportCharges}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button class="btn btn-info btn-sm text-decoration-none me-3" (click)="openModal('Update', element)"><i
                    class="fa fa-edit"></i></button> |
                <button class="btn btn-danger btn-sm text-decoration-none ms-3" (click)="deleteRecord(element.id)"><i
                    class="fa fa-remove"></i></button>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
              <mat-cell> <i class="fa fa-edit"></i> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
              <mat-cell> <i class="fa fa-delete"></i> </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-container *ngIf="showModal">
  <div class="c-modal position-fixed h-100 w-50 bg-light top-0 end-0 shadow-lg overflow-scroll">
    <i class="c-close fa fa-remove" (click)="closeModal()"></i>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-5 pt-4">
          <h5 *ngIf="buttonStatus.saveButton">Create New Sale :</h5>
          <h5 *ngIf="buttonStatus.updateButton">Update Sale :</h5>
          <hr>
          <form [formGroup]="saleForm">
            <div class="input-group mb-3">
              <div class="input-group-text"><i class="c-fa fa fa-product-hunt"></i> Good </div>
              <mat-form-field class="form-control">
                <input matInput placeholder="Search Good" [matAutocomplete]="autoGood" [(ngModel)]="selectedGood"
                  formControlName="goodID" name="goodID" [formControl]="goodCtrl">
                <mat-autocomplete #autoGood="matAutocomplete">
                  <mat-option *ngFor="let good of filteredGood | async" (click)="SelectedGood(good)"
                    [value]="good.value">
                    <small> {{good.value}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-text"><i class="c-fa fa fa-user"></i> Retailer </div>
              <mat-form-field class="form-control">
                <input matInput placeholder="Search Retailer" [matAutocomplete]="autoRetailer" [(ngModel)]="selectedRetailer"
                  formControlName="retailerID" name="retailerID" [formControl]="retailerCtrl">
                <mat-autocomplete #autoRetailer="matAutocomplete">
                  <mat-option *ngFor="let retailer of filteredRetailer | async" (click)="SelectedRetailer(retailer)"
                    [value]="retailer.value">
                    <small> {{retailer.value}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-text"><i class="c-fa fa fa-balance-scale"></i> Good Qty. </div>
              <input class="form-control"
                [ngClass]="{ 'is-invalid': formSubmitted && formControl['quantity'].errors }" type="text"
                formControlName="quantity" name="quantity" [(ngModel)]="sale.quantity"
                placeholder="Good Quantity" pattern="^[0-9]+\.[0-9]{1,2}$" (blur)="appendZeros()" required>
              <div *ngIf="formSubmitted && formControl['quantity'].errors" class="invalid-feedback">
                <div *ngIf="formControl['quantity'].errors?.['required']">Good Quantity is required.
                </div>
                <div *ngIf="formControl['quantity'].errors?.['pattern']">Wrong numeric value.</div>
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-text"><i class="c-fa fa fa-money"></i> Good Rate </div>
              <input class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && formControl['rate'].errors }"
                type="text" formControlName="rate" name="rate" [(ngModel)]="sale.rate"
                placeholder="Good Rate" pattern="^[0-9]+\.[0-9]{1,2}$" (blur)="appendZeros()" required>
              <div *ngIf="formSubmitted && formControl['rate'].errors" class="invalid-feedback">
                <div *ngIf="formControl['rate'].errors?.['required']">Good Rate is required.</div>
                <div *ngIf="formControl['rate'].errors?.['pattern']">Wrong numeric value.</div>
              </div>
            </div>
            <!-- <div class="input-group mb-3">
              <div class="input-group-text"><i class="c-fa fa fa-money"></i></div>
              <mat-form-field class="form-control">
                <input matInput placeholder="Search Labour Rate" [matAutocomplete]="autoLabourRate" [(ngModel)]="seletedlabourCharge"
                  formControlName="labourRateID" name="labourRateID" [formControl]="labourChargeCtrl">
                <mat-autocomplete #autoLabourRate="matAutocomplete">
                  <mat-option *ngFor="let labourCharge of filteredlabourCharge | async" (click)="SelectedlabourCharge(labourCharge)"
                    [value]="labourCharge.value">
                    <small> {{labourCharge.value}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div> -->
            <div class="input-group mb-3">
              <div class="input-group-text"><i class="c-fa fa fa-money"></i> Labour Cost </div>
              <input class="form-control"
                [ngClass]="{ 'is-invalid': formSubmitted && formControl['totalLabourCosting'].errors }" type="text"
                formControlName="totalLabourCosting" name="totalLabourCosting" [(ngModel)]="sale.totalLabourCosting"
                placeholder="Total Labour Costing" pattern="^[0-9]+\.[0-9]{1,2}$" (blur)="appendZeros()" required>
              <div *ngIf="formSubmitted && formControl['totalLabourCosting'].errors" class="invalid-feedback">
                <div *ngIf="formControl['totalLabourCosting'].errors?.['required']">Total Labour Costing is required.
                </div>
                <div *ngIf="formControl['totalLabourCosting'].errors?.['pattern']">Wrong numeric value.</div>
              </div>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-text"><i class="c-fa fa fa-cab"></i> Vehicle No. </div>
              <input class="form-control"
                [ngClass]="{ 'is-invalid': formSubmitted && formControl['vehicleNumber'].errors }" type="text"
                formControlName="vehicleNumber" name="vehicleNumber" [(ngModel)]="sale.vehicleNumber"
                placeholder="Vehicle Number" >
            </div>

            <div class="input-group mb-3">
              <div class="input-group-text"><i class="c-fa fa fa-user"></i> Driver Name </div>
              <input class="form-control"
                [ngClass]="{ 'is-invalid': formSubmitted && formControl['driverName'].errors }" type="text"
                formControlName="driverName" name="driverName" [(ngModel)]="sale.driverName"
                placeholder="Driver Name" >
            </div>

            <div class="input-group mb-3">
              <div class="input-group-text"><i class="c-fa fa fa-money"></i> Transport Charge </div>
              <input class="form-control"
                [ngClass]="{ 'is-invalid': formSubmitted && formControl['transportCharges'].errors }" type="text"
                formControlName="transportCharges" name="transportCharges" [(ngModel)]="sale.transportCharges"
                placeholder="Transport Charges" >
            </div>

            <div class="input-group mb-3">
              <div class="input-group-text"><i class="c-fa fa fa-money"></i> Total Amount </div>
              <input class="form-control"
                [ngClass]="{ 'is-invalid': formSubmitted && formControl['totalAmount'].errors }" type="text"
                formControlName="totalAmount" name="totalAmount" [(ngModel)]="sale.totalAmount"
                placeholder="Total Amount" pattern="^[0-9]+\.[0-9]{1,2}$" (blur)="appendZeros()" required>
              <div *ngIf="formSubmitted && formControl['totalAmount'].errors" class="invalid-feedback">
                <div *ngIf="formControl['totalAmount'].errors?.['required']">Total Amount is required.</div>
                <div *ngIf="formControl['totalAmount'].errors?.['pattern']">Wrong numeric value.</div>
              </div>
            </div>
            <button class="form-control btn btn-success" (click)="submitForm('Create', sale)"
              *ngIf="buttonStatus.saveButton">Save</button>
            <button class="form-control btn btn-info" (click)="submitForm('Update', sale)"
              *ngIf="buttonStatus.updateButton">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>
