@open-sans-regular : 'Open Sans Regular';
@open-sans-italic : 'Open Sans Italic';
@open-sans-light : 'Open Sans Light';
@open-sans-light-italic : 'Open Sans Light Italic';
@open-sans-medium : 'Open Sans Medium';
@open-sans-medium-italic : 'Open Sans Medium Italic';
@open-sans-bold: 'Open Sans Bold';
@open-sans-bold-italic: 'Open Sans Bold Italic';
@open-sans-semi-bold: 'Open Sans Semi Bold';
@open-sans-semi-bold-italic: 'Open Sans Semi Bold Italic';
@open-sans-extra-bold: 'Open Sans Extra Bold';
@open-sans-extra-bold-italic: 'Open Sans Extra Bold Italic';

@font-face {
  font-family: @open-sans-regular;
  src: url('./assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: @open-sans-italic;
  src: url('./assets/fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: @open-sans-light;
  src: url('./assets/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: @open-sans-light-italic;
  src: url('./assets/fonts/Open_Sans/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: @open-sans-medium;
  src: url('./assets/fonts/Open_Sans/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: @open-sans-medium-italic;
  src: url('./assets/fonts/Open_Sans/OpenSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: @open-sans-bold;
  src: url('./assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: @open-sans-bold-italic;
  src: url('./assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: @open-sans-semi-bold;
  src: url('./assets/fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: @open-sans-semi-bold-italic;
  src: url('./assets/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: @open-sans-extra-bold;
  src: url('./assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: @open-sans-extra-bold-italic;
  src: url('./assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
  font-family: @open-sans-bold !important;
  font-size: inherit !important;
}

p {
  font-family: @open-sans-regular !important;
  font-size: inherit !important;
}
